<nav class="header">
    <div class="logo">
        <h3><a href="/">Knowiiest Blog</a></h3>
    </div>
    <div class="mid"></div>
    <ul class="nav_links">
        <li class="link"><a href="https://knowmyblog.herokuapp.com/">Review</a></li>
        <li class="link"><a href="https://knowiiest.netlify.app/">KnowIIEST</a></li>
    </ul>
</nav>